<!-- 
Michael Clautice, Richmond, VA
The Net Ninja - NodeJS Tutorial for Beginners
Lesson 30 - Handling POST Requests
----------- -->
<!DOCTYPE html>
<html>

<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include ('partials/nav') %>
        <p>This is a Demo for Lesson 29 - Query Strings</p>
        <h1>This is the Home Pg, index.html</h1>
        <p>This Home pg, index.html, is the server's response<br>
            if the client's URL request is '/home' or '/'</p>
</body>

</html>